
@{
    ViewBag.Title = "Register";
}
<head>
    <script>
function validateForm() {
    var a = document.forms["RegInfo"]["_firstname"].value;
    if (a == "") {
        alert("First Name field must be completed.");
        return false;
    }

    var b = document.forms["RegInfo"]["_lastname"].value;
    if (b == "") {
        alert("Last Name field must be completed.");
        return false;
    }

    var c = document.forms["RegInfo"]["_birthdate"].value;
    if (c == "") {
        alert("Birthdate field must be completed.");
        return false;
    }

    var d = document.forms["RegInfo"]["_email"].value;
    if (d == "") {
        alert("Email field must be completed.");
        return false;
    }
    var e = document.forms["RegInfo"]["_phonenumber"].value;
    if (e == "") {
        alert("Phone Number field must be completed.");
        return false;
    }

    var f = document.forms["RegInfo"]["_password"].value;
    if (f == "") {
        alert("Password field must be completed.");
        return false;
    }
    var f = document.forms["RegInfo"]["_gender"].value;
    if (f == "") {
        alert("Gender must be selected.");
        return false;
    }
    function sendGender() {
        var x = document.getElementById("_gender").value;
    }
    function sendSubscribe() {
        var s = document.getElementById("_subscribe").value;
    }
}
    </script>
</head>
<div class="container">
    <div class="jumbotron">
        <h2>Register</h2>

        <div class="text">
            We serve up suprises every week for our registered members. Receive offers and discounts on your favorite items,
            points with every purchase, plus extra treats and goodies just for being you.
        </div>

        <div class="forms">
            <form name="RegInfo" action="/Home/Confirmation" onsubmit="return validateForm()" method="get">
                <br />
                First Name:<br /><input type="text" name="_firstname" /><br />
                Last Name:<br /><input type="text" name="_lastname" /><br />
                Birthdate:<br /><input type="date" name="_birthdate" /><br />
                Email:<br /><input type="text" name="_email" /><br />
                Phone Number:<br /><input type="text" name="_phonenumber" /><br />
                Password:<br /><input type="password" name="_password" /><br />
                Gender:<br /><input type="radio" onclick="sendGender()" name="_gender" value="male"> Male<br>
                <input type="radio" onclick="sendGender()" name="_gender" value="female"> Female<br>
                <input type="checkbox" onchange="sendSubscribe()" name="_subscribe" value="subscribed">
                <label for="subscribeNews">Subscribe to newsletter?</label>
                <br />Favorite Coffee Drink:<br /><select name="_fdrink">
                    <option value="Americano">Americano</option>
                    <option value="Cappuccino">Cappuccino</option>
                    <option value="Espresso">Espresso</option>
                    <option value="Machiato">Machiato</option>
                    <option value="DripCoffee">Drip Coffee</option>
                    <option value="ChaiLatte">Chai Latte</option>
                    <option value="IrishCoffee">Irish Coffee</option>
                </select><br />
                <input type="submit" name="Register!" />
                <input type="reset" name="Reset" /><br />
            </form>
        </div>
    </div>
    </div>
    <style>
        .forms {
            margin: auto;
        }

        body {
            background-color: #AE553B;
        }
    </style>
