
@{
    ViewBag.Title = "Welcome";
}
<div class="jumbotron">
    <h2>Welcome @ViewBag.FirstName!</h2>


    Thank you for registering! You will be receiving an email shortly!
    </div>
<style>
    body {
        background-color: #AE553B;
    }
    </style>